Exercise 2:
   MY NOTEBOOK

Exercise 3:
   This is my peer graded assignment

Exercise 4:
  List of Data Science Languages
1. Python
2. R
3. SQL
4. Julia
5. Scala
6. SAS
7. MATLAB

Exercise 5:
   List of Data Science ibraries
1. NumPy
2. Pandas 
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. Keras
8. PyTorch
9. SciPyem
10. Statsmodels

Exercise 6:
    A Table of Data Science Tools

| Tool | Description | Website |
| ---------- | --------- | ------- |
| Jupyter | Interactive computing and data visualization | jupyter.org |
| RStudio | Integrated development environment for R | rstudio.com |
| VS Code | Versatile code editor with extensions support | code.visualstudio.com |
| Tableau | Data visualization and business intelligence | tableau.com |
| Excel | Spreadsheet software for data analysis | office.com/excel |
| KNIME | Open-source platform for data analytics | knime.com |
| RapidMiner | Data science platform with visual workflows | rapidminer.com |
| Apache Spark | Fast cluster computing system | spark.apache.org |
| Weka | Collection of machine learning algorithms | weka.waikato.ac.nz |
| Orange | Open-source data visualization and analysis | orange.biolab.si |
| IBM Watson | AI-powered data analytics and ML platform | ibm.com/cloud/watson |
| D3.js | JavaScript library for interactive data visual | d3js.org |
| MATLAB | Numerical computing and simulation software | - |
| Keras | High-level neural networks API | - |
| Power BI | Data analysis and business intelligence tool by Microsoft | - |
| XGBoost | Gradient boosting library for Python | - |

Exercise 7:
    Introducing Arithmetic Expression Examples

1. Addition (+):
    example: 5+3 = 8
2. Subtraction (-):
    example: 10-5 = 5
3. Multiplication (*):
    example: 4*3 = 12
4. Division (/):
    example: 15/3 = 5
5. Exponentiation ()**: 
    example: 2 ** 3 = 8
6. Modulo (%): 
     example: 10 % 3 = 1

Exercise 8:
   Multiply and Add Numbers

In [3]:
# Multiplication
num1 = 5
num2 = 10
result_multiply = num1 * num2

print("Multiplication Result:", result_multiply)

# Addition
num3 = 15
num4 = 20
result_add = num3 + num4

print("Addition Result:", result_add)

Multiplication Result: 50
Addition Result: 35

Exercise 9:
    Convert Minutes to Hours

In [5]:
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Test the function
minutes = 180
hours_result = minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours_result:.2f} hours.")

180 minutes is equal to 3.00 hours.

Exercise 10: 
    Insert a List of Objectives

1. Data Collection
2. Data Cleaning and Preprocessing
3. Exploratory Data Analysis (EDA)
4. Feature Engineering
5. Model Development
6. Model Evaluation
7. Insights and Recommendations
8. Deployment and Implementation
9. Continuous Improvement

Exercise 11:
    Authorâ€™s name

Jibrin Abdullahi Dallatu